body {
    margin: 5rem;
}

.formContainer {
    height: 100vh;
}

.container {
    height: 70vh;
    width: 70vw;
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;

}

.userContainer {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.userContainer>label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.userContainer>input {
    flex: 2;
}

.userContainer>input,
.userContainer>button {
    padding: .5em;
}

.btnContainer {
    border-radius: 5px;
    margin-top: 27px;
    text-align: center;
}

.button {
    width: 8rem;
    height: 2rem;
    background: #00b8ff87;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: larger;
    border: none;
}